.cover {
  align-self: center;
  box-sizing: border-box;
  width: calc(100% - 96px);
  width: 100%;
  margin-top: 92px;
  max-width: 1184px;
  max-height: 740px;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin-top: 90px;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 90px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 66px;
    width: 100%;
  }
}

