.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-left: 7px;
  margin: 0;
}


@media screen and (max-width: 767px) {
  .place__link {
    padding-left: 0;
  }
}
